body{
    font-family: 'Open Sans', sans-serif;
}

/*menú*/
a{
    text-decoration: none;
}
li{
    list-style: none;
}
.contenedor {
    width: 90%;
    max-width: 1280px;
    margin: auto;
}

.contenedor .logo img {
    width: 65px;

}

header{
    background: rgb(5, 5, 5);
}

header .contenedor {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav ul {
    display: flex;
}

nav ul li {
    margin: 0 20px;
}

nav ul li a{
    color: #fff;
}

/*acciones del menu*/

.menu a:hover {
    background-color: #ddd;
    color: black;
    padding: 5px 10px;
}

.menu a.active {
    background-color: #04AA6D;
    color: white;
    padding: 5px 10px;
}

/*fechas*/

.titular {
    background: url(../../images/fechas.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    padding: 30vh;
}

.titular h1{
    font-size: 50px;
    width: 60%;
    color: #fff;
}

.titular h1 .verde {
    color:#04AA6D
}

#fechas{ 
    background-color: #04AA6D;
    padding: 60px 0px;
}

#fechas .contenedor{
    display: flex;
    justify-content: space-around;

}

#fechas img{
    width: 100%;
}

#fechas .texto{
    width: 50%;
}

#fechas .imagen{
    width: 30%;
    position: relative;
    top: -110px;
}






/*footer*/
footer{
    background-color: black;
    height: 270px ;

}
.footerstyle{
    font-style: italic;
    color: white;
    font-size: 14px;
    
}
#redes{
    color: white;
}
